<html>
    <head>
        <link rel="stylesheet" href="../../Assets/Stylesheets/style.css">
    </head>
    <body>
      <div class="bg-illustration">
        <div class="burger-btn">
          <span></span>
          <span></span>
         <span></span>
        </div>
      </div>
    
      <div class="choice">
        <div class="container">
          <br>
        <a href="../../homepage.html" target="" class="previous">&laquo; Previous</a>
          <h1>Admin Panel</h1> 
          <div class="choices">
                <button type="button" onclick="location.href='createstudent.php'">CREATE STUDENT</button>
          </br>
                <button type="button" onclick="location.href='updatemarks.php'">UPDATE MARKS</button>
          </div>   
        </div>
      </div>
   </body>
</html>