a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
.previous {
    background-color: #f1f1f1;
    color: black;
  }
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    background-color: #fff;
    font-family: Montserrat;
    overflow-x: hidden;
  }
  
  article,
  aside,
  details,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    text-decoration: none;
  }
  
  img {
    border: none;
  }
  
  *:focus {
    outline: none;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .bg-illustration {
    position: relative;
    height: 100vh;
    width: 1194px;
    background: url("img1.jpg") no-repeat center center scroll;
    background-size: cover;
    float: left;
  }
  .bg-illustration img {
    width: 248px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    height: auto;
    margin: 19px 0 0 25px;
  }
  .login {
    max-height: 100vh;
    overflow-Y: auto;
    float: left;
    margin: 0 auto;
    width: calc(100% - 1194px);
  }
  .login .container {
    width: 505px;
    margin: 0 auto;
    position: relative;
  }
  .login .container h1 {
    margin-top: 100px;
    font-size: 35px;
    font-weight: bolder;
  }
  .login .container .login-form {
    margin-top: 112px;
  }
  .login .container .login-form form {
    display: -ms-grid;
    display: grid;
  }
  .login .container .login-form form input {
    font-size: 16px;
    font-weight: normal;
    background: rgba(57, 57, 57, 0.07);
    margin: 12.5px 0;
    height: 68px;
    border: none;
    padding: 0 30px;
    border-radius: 10px;
  }
  .login .container .login-form form button[type=submit] {
    background-color: #009879;
    border: none;
    margin-top: 124px;
    margin-bottom: 20px;
    width: 241px;
    height: 58px;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-size: 20px;
  }
  .login .container .login-form form button[type=submit]:hover::after {
    opacity: 1;
  }
  .login .container .login-form form button[type=submit]::after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#09203f), to(#537895));
    background: -webkit-linear-gradient(bottom, #09203f 0%, #537895 100%);
    background: -o-linear-gradient(bottom, #09203f 0%, #537895 100%);
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
  }
  .login .container .remember-form {
    position: relative;
    margin-top: -30px;
  }
  .login .container .remember-form input[type=checkbox] {
    margin-top: 9px;
  }
  .login .container .remember-form span {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: 32px;
    color: #3B3B3B;
    margin-left: 15px;
  }
  .login .container .forget-pass {
    position: absolute;
    right: 0;
    margin-top: 189px;
  }
  .login .container .forget-pass a {
    font-size: 16px;
    position: relative;
    font-weight: normal;
    color: #918F8F;
  }
  .login .container .forget-pass a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 100px;
    background: -webkit-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
    background: -o-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
    background: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
    bottom: -4px;
    left: 0;
    opacity: 0;
    right: 0;
  }
  .login .container .forget-pass a:hover::after {
    opacity: 1;
  }
  body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .choice .container .choices button[type=button] {
  background-color: #009879;
  border: none;
  margin-top: 124px;
  margin-bottom: 20px;
  width: 241px;
  height: 58px;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-size: 20px;
  }
  
  .choice .container .choices button[type=button]:hover::after {
  opacity: 1;
  }
  .choice .container .choices button[type=button]::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 10px;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#09203f), to(#537895));
  background: -webkit-linear-gradient(bottom, #09203f 0%, #537895 100%);
  background: -o-linear-gradient(bottom, #09203f 0%, #537895 100%);
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  }
  .choice {
    max-height: 100vh;
    overflow-Y: auto;
    float: left;
    margin: 0 auto;
    width: calc(100% - 1194px);
  }
  .choice .container {
    width: 505px;
    margin: 0 auto;
    position: relative;
  }
  .choice .container h1 {
    margin-top: 100px;
    font-size: 35px;
    font-weight: bolder;
  }
  .choice .container .choices {
    margin-top: 112px;
  }